/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

body{
  font-family: cursive;
  font-size:20px;
  background-color:lightgray;
  margin:5px;

}
h1 {
  text-align: center;
  color:cyan;

}
span{
  border:5px dashed cyan;
  padding:5px;
}
.section{
  border:1px solid whitesmoke;
  border-radius:15px;
  background-color:whitesmoke;
  margin:10px;
  padding:10px;

}
#indent p{
  text-indent: 30px;
}
#header p{
  text-align:center;
  font-size:30px;
  padding-top:91px;
  height:5px;
}

#header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWxWg4q2h9LIa1mYPXownwrB27G6sRGIYlBA&usqp=CAU);

}

p{
  margin:20px;
  padding:20px;
}
.quote{
  text-align:right;
  font-size:13px;
}
table{
  width:100%

}
table,th,td{
  border:2px solid #cccccc;
  border-collapse: collapse;
  text-align:center;
}
td{
  width:16%
}

.selected{
  background-color:yellowgreen;
  color:white;
  font-weight:bold;
}

ul{
  margin: 0 0 10px 10px;
  padding-left: 38%;
  overflow: hidden;
}
li{
  width: 50%;
}
progress{
  width:70%;
  height:30px;
}
iframe{
  display:block;
  margin:0 auto;
  border:2px solid cyan;
}
form{
  text-align:center;
}
textarea{
  height:100px;
}
input,textarea{
  margin:5px;
  border:1px solid black;
  border-radius:5px;
  width:25%;
  background-color:#efefef;
}
.submit{
  background-color:#efefef;
  margin:0;
  padding:5px;
  cursor:pointer;
  font-weight: bold;
}
.submit:hover{
  background-color:greenyellow;
}
#contacts a{
  text-decoration:none;
}
#contacts {
  text-align:center;
}
#contacts img{
  height:30px;
  width:30px;

}
#contacts img:hover{
  opacity:0.8;
}
.copyrights{
  text-align:right;
  font-size:11px;
  color:grey;
}
